.loginContainer {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.368),
    rgba(55, 0, 128, 0.464)
  );
}

.loginCard {
  width: 500px;
  height: 500px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(10, 0, 203, 0.237);
  background-color: white;
}

.loginInput {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 225);
}

.loginButton {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: center;
}

.loginBtn {
  border-radius: 10px;
  border: none;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(to right, blue, rgb(55, 0, 128));
  color: white;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  border: none;
  background-color: white;
  color: blue;
  margin-top: 50px;
}
